.row {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.row div {
    float:left;
   width:100px;
   height:100px;
   position:relative;
}

.row label, .row input {
   display:block;
}

.row input[type="radio"] {
   opacity:0.01;
   z-index:100;
}

.row input[type="radio"]:checked + label,
.Checked + label {
   background:yellow;
}

.row label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
   z-index:90;
}

.row label:hover {
    background:#DDD;
}